<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.gamename" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Mata Elang</name>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-screen-orientation" version="3.0.4" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Allow iframes on iOS like leaderboards, including those in development that are not served
    via https. -->
    <allow-navigation href="*" />

    <platform name="android">
        <allow-intent href="market:*" />

        <!-- Required by admob-plus plugin > version 2 -->
        <preference name="GradlePluginKotlinEnabled" value="true" />

        <!-- Increase timeout value for low-end android devices -->
        <preference name="loadUrlTimeoutValue" value="60000" />

        <icon src="www/android-icon-36.png" density="ldpi" />
<icon src="www/android-icon-48.png" density="mdpi" />
<icon src="www/android-icon-72.png" density="hdpi" />
<icon src="www/android-icon-96.png" density="xhdpi" />
<icon src="www/android-icon-144.png" density="xxhdpi" />
<icon src="www/android-icon-192.png" density="xxxhdpi" />
<preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/android-windowSplashScreenAnimatedIcon.png" />

        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />

        <!-- Required to get cordova-plugin-safariviewcontroller to call Chrome CustomTabs on
        Android. -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <queries>
                <intent>
                    <action android:name="android.support.customtabs.action.CustomTabsService" />
                </intent>
            </queries>
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="SwiftVersion" value="5.3" />

        <!-- Required by admob-plus plugin > version 2 -->
        <preference name="deployment-target" value="12.0" />

        <icon src="www/ios-icon-180.png" width="180" height="180" />
<icon src="www/ios-icon-60.png" width="60" height="60" />
<icon src="www/ios-icon-120.png" width="120" height="120" />
<icon src="www/ios-icon-76.png" width="76" height="76" />
<icon src="www/ios-icon-152.png" width="152" height="152" />
<icon src="www/ios-icon-40.png" width="40" height="40" />
<icon src="www/ios-icon-80.png" width="80" height="80" />
<icon src="www/ios-icon-57.png" width="57" height="57" />
<icon src="www/ios-icon-114.png" width="114" height="114" />
<icon src="www/ios-icon-72.png" width="72" height="72" />
<icon src="www/ios-icon-144.png" width="144" height="144" />
<icon src="www/ios-icon-167.png" width="167" height="167" />
<icon src="www/ios-icon-29.png" width="29" height="29" />
<icon src="www/ios-icon-58.png" width="58" height="58" />
<icon src="www/ios-icon-87.png" width="87" height="87" />
<icon src="www/ios-icon-50.png" width="50" height="50" />
<icon src="www/ios-icon-20.png" width="20" height="20" />
<icon src="www/ios-icon-100.png" width="100" height="100" />
<icon src="www/ios-icon-167.png" width="167" height="167" />
<icon src="www/ios-icon-1024.png" width="1024" height="1024" />

    </platform>

    <preference name="AndroidXEnabled" value="true" />

    <preference name="BackgroundColor" value="0xff000000" />

    <!-- Android Fullscreen -->
    <preference name="Fullscreen" value="true" />

    <!-- Cordova/Phonegap version -->
    <preference name="phonegap-version" value="cli-9.0.0" />

    

    <!-- Keep cordova-plugin-ionic-webview plugin last as it has a deployment-target to 11, which
    affects the installation of other plugins.-->
    <plugin name="cordova-plugin-ionic-webview" version="5.0.1" />
</widget>
